@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

.blogContainer {
  background: #1e1e28;
}

.card {
  background: #2b2b36;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.cardInner {
  color: white;
  padding: 20px;
}

.cardInner h2 {
  color: #ffc107;
  padding-bottom: 15px;
}

.footer {
  margin-top: 55px;
}

.innerDiv {
  position: absolute;
  top: 15%;
  width: 100%;
}

.innerDiv h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  color: white;
}

.innerDiv h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: white;
  padding-top: 10px;
}

.innerDiv p {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-weight: 700;
  color: white;
  padding-top: 25px;
}

.innerDiv p span {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-weight: 700;
  color: #ffc107;
  padding-top: 10px;
}

.innerDiv button {
  text-align: center;
  font-weight: 500;
  color: white;
  margin-top: 25px;
  padding: 10px;
  background-color: #ffc107;
}

.outerDiv {
  position: relative;
  width: 100%;
  padding: none;
}
