.title {
    color: white;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 15px;
  }
  
  .sectionMe {
    color: white;
  }
  
  .card {
    background: #2b2b36;
    padding: 15px;
  }
  
  .subTitle {
    color: #ffc107;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  